RewriteEngine On

Options -Indexes

RewriteCond %{THE_REQUEST} \s/+menu/([^/\s?]+) [NC]
RewriteRule ^ /%1? [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/menu/$1/$1.php -f
RewriteRule ^(presidencia|financas|dashboard|rh|projetos|marketing|infra|user)/?$ menu/$1/$1.php [NC,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|svg)$ [NC]
RewriteRule ^([^.]+)/?$ $1.php [NC,L,QSA]

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1? [R=301,L]